.link-button {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  margin: 10px auto;
  width: 100vw;
  max-width: 680px;
  display: block;
  text-decoration: none;
  border: 3px solid white;
  color: white;
  background: hsl(24, 97%, 50%);
}

.link-button:hover {
  border: 3px solid hsl(24, 97%, 50%);
  color:hsl(24, 97%, 50%);
  background: #fff;
}